{% extends "flask_user_layout.html" %}
{% block content %}

    {% if no_movies %}
    <h2>Ignored movies</h2>
    <p style="text-align: center">Currently, you have no ignored movies.</p>
    {% else %}

    <div class="cards-container">
    <h2>Ignored movies</h2>
        {% for m in ignored_movies %}
        <div class="cards" style="box-shadow: 33em 25em 5px lightgrey inset">
            <div class="card-heading" id="{{ m.id }}">
                <div class="tooltip"><a href="#" title="Include movie in recommendations"
                                        >+</a></div>
                <div id="title">
                <b>{{ m.title }}</b>
                    </div>
            </div>
        <div id="card-body">
            <p class="average"><b>average rating: {{ m.average_rating }}</b></p>
            <p>
                {% for g in m.genres %}
                    <span class="label label-genres">{{ g.genre }}</span>
                {% endfor %}
            </p>
        </div>
        <div id="card-body2">
            {% for t in m.tags %}
                <span class="label label-tags">{{ t.tag }}</span>
            {% endfor %}
        </div>
        <div id="card-links">
            <p>
                {% for l in m.links %}
                    <a href="https://www.movielens.org/movies/{{ l.movie_id }}">Link to movie lens</a>
                    <a href="https://www.imdb.com/title/tt0{{l.imdb_id}}">Link to imdb</a>
                    <a href="https://www.themoviedb.org/movie/{{ l.tmdb_id }}">Link to tmdb</a>
                {% endfor %}
                </p>
        </div>
        <div class="card-footer" data-m-id="{{ m.id }}">
                {% if m in movies_watchlist %}
                    <p class="added"><i>Added to<a href="{{ url_for('watchlist_page') }}">watchlist</a></i></p>
                {% else %}
                    <a href="{{ url_for('add_watchlist') }}" class="add">Add to watchlist</a>
                {% endif %}
            <div id="footer-rating">
                {% if m in rated_movies %}
                    <div class="rated-box">
        <div class="rated"><b>Your rating: </b><div class="rated-num">{{ ratings[m.id] }} </div></div>
                    </div>
                {% else %}
            <form action="{{ url_for('rate') }}" class="rating-form" method="post" id="{{ m.id }}">
            <label for=rating>Your rating: </label>
            <select name="rating" class="rating" required>
  	            <option value="" selected disabled>stars</option>
                <option value="1.0">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4.0</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5.0</option>
            </select>
            <input type="submit" value="Rate" class="submit-btn">
            </form>
            {% endif %}
                </div>
            </div>
        </div>
{% endfor %}
    </div>

<div><a href="#" class="toplink">Back to the top</a></div>

    {% endif %}

<script>
var watchlistAdds = document.querySelectorAll('.add');
for (var i = 0; i < watchlistAdds.length; i++) {
    watchlistAdds[i].addEventListener('click', addWatchlist);
}

function addWatchlist(e){
    e.preventDefault();

    var movieID = e.target.parentElement.getAttribute("data-m-id");
    //console.log(movieID);

    // create AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '../recommender.wsgi/add_watchlist', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onload = function () {
        if (xhr.status === 200) {
            e.target.outerHTML = xhr.responseText;
        } else {
          alert('Request failed. Returned status of ' + xhr.status);
        }
    }
    xhr.send('movieID=' + movieID);
}
</script>
<script>
// EventListener for the ignore link ("x")
var toIgnore = document.querySelectorAll(".tooltip");
for (var i = 0; i < toIgnore.length; i++) {
    toIgnore[i].addEventListener('click', ignoreMovie);
}
// function to ignore a movie for the recommendations
function ignoreMovie(e){
    e.preventDefault();

    var movieID = e.currentTarget.parentElement.id;
    //console.log(movieID);
    var currentCard = e.currentTarget.parentElement.parentElement;
    var symbol = e.target.textContent;
    //console.log(symbol);

    if (symbol === "x"){
        // create AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../recommender.wsgi/ignore', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onload = function () {
        if (xhr.status === 200) {
            // in addition to symbol change put an inner shadow on the respective card
            currentCard.style.boxShadow = "33em 25em 5px lightgrey inset";
            e.target.innerHTML = "+";
            e.target.title = "Include movie in recommendations";

        } else {
          alert('Request failed. Returned status of ' + xhr.status);
        }
    }
    xhr.send('movieID=' + movieID);
} else if (symbol === "+"){
        //console.log("revoke:" + movieID);

        // create AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../recommender.wsgi/revoke_ignore', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onload = function () {
        if (xhr.status === 200) {
            // delete inner shadow and show "x" again
            currentCard.style.boxShadow = "none";
            e.target.innerHTML = "x";
            e.target.title = "Ignore movie for recommendations";
        } else {
          alert('Request failed. Returned status of ' + xhr.status);
        }
    }
    xhr.send('movieID=' + movieID);
    }
}
</script>
<script>
// adapted from the recommender base with js
// Event (submission) listener for rating forms
var forms = document.querySelectorAll('.rating-form');
for (var i = 0; i < forms.length; i++) {
    forms[i].addEventListener('submit', rateMovie);
}
// function to send to-be-rated movie id and rating and show rating
function rateMovie(e) {
    e.preventDefault();

    var movieID = e.target.id;
    //console.log(movieID);
    var currentForm = e.currentTarget;
    var data = new FormData(currentForm);
    var rating = data.get("rating");
    //console.log(data);
    //console.log(rating);

    // create AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '../recommender.wsgi/rate', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onload = function () {
        if (xhr.status === 200) {
            currentForm.innerHTML = xhr.responseText;
        } else {
          alert('Request failed. Returned status of ' + xhr.status);
        }
    }
    xhr.send('movieID=' + movieID + '&rating=' + rating);
}
</script>
{% endblock %}